/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    position: relative;
    height: 100vh;
    background: url('./data/background.webp') no-repeat center center fixed;
    background-size: cover;
    filter: blur(0.5px);
    overflow: scroll;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}
@keyframes popup {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
.blurred-text {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    text-align: center;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.3); 
    animation: popup 0.5s ease-out forwards;
}
.blurred-text {
    animation: popup 0.5s ease-out forwards;
}
@media (max-width: 1440px) {
    header h1 {
        font-size: 2em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 1em;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    #about-me {
        padding: 15px;
    }
}

@media (max-width: 1080px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li a {
        font-size: 0.9em;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .profile-info ul li {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
        padding: 15px;
    }
    
}