/* styles.css */

/* 继承原有样式 */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: scroll; /* 防止页面滚动 */
}

.background {
    position: relative;
    height: 100vh;
    background: url('../../data/background.webp') no-repeat center center fixed;
    background-size: cover;
    filter: blur(0.55px);
    overflow: scroll;
}

/*.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* 半透明黑色遮罩 
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: background 0.5s;  遮罩层淡入淡出效果 
}*/

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    flex: 1;
    padding: 20px;
}

article-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*.article-list li {
    background: rgba(0, 0, 0, 0.5);  列表项背景 
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}*/

.article-list h3 {
    margin-top: 0;
    font-size: 1.8em;
}

.article-list a {
    color: #fff;
    text-decoration: none;
}

.article-list p {
    margin: 5px 0;
}

/*footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
}*/
.blurred-text {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    text-align: center;
    backdrop-filter: blur(10px); /* 应用高斯模糊效果 */
    -webkit-backdrop-filter: blur(10px); /* 兼容 WebKit 浏览器 */
    background: rgba(255, 255, 255, 0.3); /* 半透明背景 */
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 1em;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    #about-me {
        padding: 15px;
    }
}

/* 当屏幕宽度小于480px时应用 */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li a {
        font-size: 0.9em;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .profile-info ul li {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
        padding: 15px;
    }
}